@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lato');
body {
    background: #2f4858;
    font-family: 'Lato', sans-serif;
}
h1 {
    font-family: 'Comic Sans MS', cursive;
    font-size: 10vw;
    color: #fff;
    text-align: center;
    margin: 2vh 0;
}
/* text animation found at http://codepen.io/zenadesign/pen/GqGgqx*/
.appear {
	transform-origin:center top;
	animation:show 0.5s both;
}
span.appear {display:inline-block;}
.p1 {animation-delay:0.5s;}
.p2 {animation-delay:1.5s;}
.p3 {animation-delay:2s;}
@keyframes show {
	0% {
		transform:translate(0,2em);
		opacity:0;
		text-shadow:0 0 0 #fafafa;
	}
	50% {
		text-shadow:0 0 0.5em #606060;
	}
	100% {
		transform:translate(0,0);
		opacity:1;
		text-shadow:none;
	}
}
h2 {
    color: #f26419;
    font-family: 'Comic Sans MS', cursive;
    font-size: 18vw;
    height: 100%;
    width: 100%;
}
#gameboard {
    display: block;
    width: 80vw;
    margin: 1vh auto 0;
}
#banner {
    box-sizing: border-box;
    height: 3vw;
    color: #fff;
    font-size: 3vw;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.container {
    text-align: center;
}
.box {
    height: 22vw;
    width: 22vw;
    max-height: 200px;
    max-width: 200px;
    background: #fafafa;
    border-radius: 10px;
    margin: 5px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
.box:hover{
    background: #f6ae2d;
    transition: 0.3s ease;
}
#restart {
    background: #f26419;
    box-sizing: border-box;
    height: 6vw;
    width: 22vw;
    color: #fff;
    font-size: 3vw;
    text-align: center;
    padding: 1.5vw 0;
    border-radius: 10px;
    margin: 5vh auto;
    display: block;
}
#restart:hover {
    background: #fa8a5a;
    transition: 0.5s;
    cursor: pointer;
}
footer {
    bottom: 50px;
    text-align: center;
    color: #fff;
}
footer a {
    color: #fff;
}
@media screen and (min-width: 900px) {
h1{
    font-size: 110px;
    margin: 30px 0;
}
h2 {
    font-size: 200px;
}
}
